<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Redefinição de senha</title>
</head>
<body>
    <p>Você solicitou a redefinição de senha para sua conta.</p>
    
    <p>Por favor, clique no link abaixo para escolher uma nova senha:</p>
    
    <p><a href="{{ url }}">{{ url }}</a></p>
    
    <p>Seu usuário, caso tenha esquecido: {{ user.email }}</p>
    
    <p>Se você não solicitou essa redefinição, ignore este e-mail.</p>
    
    <p>Obrigado!</p>
</body>
</html>
